<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<br><br><br>
<div class="container" >
        <button id="buttons" class="btn btn-primary btn-lg" (click)="Valor(0)"> <span class="glyphicon glyphicon-th"></span> Efectivo </button>
        <button id="buttons" class="btn btn-success btn-lg" (click)="Valor(1)"><span class="glyphicon glyphicon-th"></span> Débito</button>
        <button id="buttons" class="btn btn-danger btn-lg" (click)="Valor(2)"><span class="glyphicon glyphicon-th"></span> Crédito </button>
	<div class="row" onfocus="true">
		
        <div class="col-md-12" style="background:white">
        	<div class="table-responsive">
              <table id="mytable" class="table table-bordred table-hover " >
                <thead >
                    <th>Fecha</th>
                    <th>Usuario</th>
                    <th>Pago</th>
                    <th>Nivel</th>
                    <th>Total</th>
                    <th>Estado</th> 
                </thead>
    <tbody *ngFor="let item of arrayViajes" >

    <tr  *ngIf="item.tipo_pago == valor">
      
      <td>{{item.fechayhora | date:'dd/MM/yyyy HH:mm'}}</td>
      <td>{{item.usuario_id}}</td>
      <td>
          <span *ngIf="item.tipo_pago==0">Efectivo</span>
          <span *ngIf="item.tipo_pago==1">Débito</span>
          <span *ngIf="item.tipo_pago==2">Crédito</span>
      </td>
	 
	<td>
    <span *ngIf="item.nivel==0">Standard</span>
    <span *ngIf="item.nivel==1">Confort</span>
    <span *ngIf="item.nivel==2">Premium</span>
</td>
  <td> {{ item.usuario_id | pesos }}</td>
	<div *ngIf="item.estado=='0'"><td class="label label-warning" >Pendiente</td></div>
	<div *ngIf="item.estado=='1'"><td class="label label-success">Pagado</td></div>
    </tr>

    </tbody>
        
</table>
        </div>
		</div>
		</div>
  </div>