.navbar {
    margin-bottom: 0;
    background-color: black;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}
.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: red !important;
    background-color: #fff !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
  
  a
  {
      font-weight: bold;
      font-family: "Calibri";
      font-size: 17px;
      font-style: normal;
      font-variant: normal;
      line-height: 18.5714px;
  }
  .example2 .navbar-brand>img {
    padding: 7px 15px;
  }
  .navbar-alignit .navbar-header {
      
        -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    height: 50px;
  }
  .navbar-alignit .navbar-brand {
      top: 50%;
      display: block;
      position: relative;
      height: auto;
      transform: translate(0,-50%);
      margin-right: 15px;
    margin-left: 15px;
  }
  .navbar-nav>li>.dropdown-menu {
      z-index: 9999;
  }
  body {
    font-family: "Lato";
  }