.main {
    width: 500px;
    margin: 20px auto;
    padding: 50px;
    border: 2px solid #8495A5;
    background-color:white;
    justify-content: center;
  }
  .encuesta {
    width: 700px;
    margin: 20px auto;
    padding: 50px;
    border: 2px solid #8495A5;
    background-color:white;
    justify-content: center;
  }
    
  #fondo {
    background-image: url("https://previews.123rf.com/images/oly5/oly51507/oly5150700497/42468862-resumen-fondo-color-azul-claro-del-grunge-dise%C3%B1o-de-textura-vintage-fondo.jpg");
  }
 