<br><br><br>
<div id="outer">
        <div class="inner"><button (click)="verLista= !verLista" class="form-btn">Nuevo Vehiculo</button></div>
        <div class="inner"><button class="login100-form-btn" (click)="modal.open()">Ver Lista</button></div>
  </div>
  <br>
<div class="center-screen" *ngIf="verLista">
        <div class="card card-container"> 
      <form class="" >
          <div class="form-group">
              <input type="text" class="form-control" [(ngModel)]="miVehiculo.marca" name="marca" placeholder="Marca" autocomplete="off" />
          </div>
          <div class="form-group">
              <input type="text" class="form-control" [(ngModel)]="miVehiculo.patente" name="patente" placeholder="Patente" autocomplete="off" />
          </div>
          <div class="form-group">
              <input type="text" class="form-control" [(ngModel)]="miVehiculo.ocupantes" name="ocupantes" placeholder="Puertas" autocomplete="off" />
          </div>
          <div class="form-control">
              <input type="radio" name="nivel" [(ngModel)]="miVehiculo.categoria" (click)="miVehiculo.categoria='0'" value="0">Standard
              <input type="radio" name="nivel" [(ngModel)]="miVehiculo.categoria" (click)="miVehiculo.categoria='1'" value="1">Confort
              <input type="radio" name="nivel" [(ngModel)]="miVehiculo.categoria" (click)="miVehiculo.categoria='2'" value="2">Premium
          </div>
          <br>
          <div class="form-control">
              <label for="metodoPago">Remiseros:</label>
              <select class="bootstrap-select" [(ngModel)]="miVehiculo.usuario_id" [ngModelOptions]="{standalone: true}" required>
                  <option value="-1">Ninguno</option>
                  <option *ngFor="let c of arrayRemos" [ngValue]="c.id">{{c.username}}</option>
              </select>
          </div>
          <div class="form-group">
                <label for="fechaViaje">Habilitado:</label>
                <input type="checkbox" class=" " [(ngModel)]="miVehiculo.habilitado"  #habilitado (change)="habilitar( habilitado.checked )" name="habilitado" placeholder="Habilitado" />
            </div>
            <br>
          <div class="form-group">
              <button name="enviar" class="btn bg-primary" (click)="submit()">Enviar</button>
          </div>
      </form>
  </div>
</div>
<!-- ========================VER VEHICULOS POR ID Y MODIFICAR ================================================== -->
<div class="center-screen" *ngIf="!verLista">
        <div class="card card-container"> 
            <form *ngIf="!modificado" autocomplete="off" method="POST" (ngSubmit)="modificarVehiculo()" #ModificarForm="ngForm" novalidate  >
                <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="datosMostrar.marca" name="marca" placeholder="Marca" autocomplete="off" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="datosMostrar.patente" name="patente" placeholder="Patente" autocomplete="off" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="datosMostrar.ocupantes" name="ocupantes" placeholder="Puertas" autocomplete="off" />
                </div>
                <div class="form-control">
                    <input type="radio" name="nivel" [(ngModel)]="datosMostrar.categoria" (click)="datosMostrar.categoria='0'" value="0">Standard
                    <input type="radio" name="nivel" [(ngModel)]="datosMostrar.categoria" (click)="datosMostrar.categoria='1'" value="1">Confort
                    <input type="radio" name="nivel" [(ngModel)]="datosMostrar.categoria" (click)="datosMostrar.categoria='2'" value="2">Premium
                </div>
                <br>
                <div class="form-control">
                    <label for="metodoPago">Remiseros:</label>
                    <select class="bootstrap-select" [(ngModel)]="datosMostrar.usuario_id" [ngModelOptions]="{standalone: true}" required>
                        <option value="-1">Ninguno</option>
                        <option *ngFor="let c of arrayRemos" [ngValue]="c.id">{{c.username}}</option>
                    </select>
                </div>
                <br>
                <div class="form-group">
                        <label style="background:cornsilk;" for="fechaViaje">Habilitado:</label>
                        <input type="checkbox" class=" " [(ngModel)]="datosMostrar.habilitado"  #habilitado (change)="habilitar( habilitado.checked )" name="habilitado" placeholder="Habilitado" />
                    </div>
                <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">
                        <button type="submit" class="btn btn-primary button" [disabled]="!ModificarForm.valid">Guardar</button>
                        </div>
                      </div>
            </form>
            <div *ngIf="modificado" >
                    <h2 style="background:cornsilk;">Se modificó con éxito!!</h2>
            </div>
        </div>
      </div>
<!-- ========================VER LISTA DE VEHICULOS ================================================== -->

<bs-modal #modal>
    <bs-modal-header [showDismiss]="true">
        <h4 class="modal-title">Lista de Vehiculos</h4>
    </bs-modal-header>
    <bs-modal-body>
                    <table class="table rounded">
                        <tr class="grey">
                            <th>Patente</th>
                            <th>Marca</th>
                            <th>Categoria</th>
                            <th>Puertas</th>
                            <th>Habilitado</th>
                            <th>Borrar</th>
                            <th>Modificar</th>
                        </tr>
                    
                        <tr *ngFor="let vehiculo of arrayVehiculos">
          
                            <td>
                                {{vehiculo.patente}}
                            </td>
                            <td>{{vehiculo.marca}}</td>
                            <!-- <td>{{vehiculo.categoria}}</td> -->
                            <td>
                                <span *ngIf="vehiculo.categoria==0">Standard</span>
                                <span *ngIf="vehiculo.categoria==1">Confort</span>
                                <span *ngIf="vehiculo.categoria==2">Premium</span>
                            </td>
                            <td>{{vehiculo.ocupantes}}</td>
                            <td>
                                <span *ngIf="vehiculo.habilitado==1">Habilitado</span>
                                <span *ngIf="vehiculo.habilitado==0">Inhabilitado</span>
                            </td>
                            <td>
                                <div class="">
                                    <button class="btn sm-secondary" (click)="eliminarObjeto(vehiculo)">Eliminar</button>
                                </div>
                            </td>
                            <td >
                                <div class="">
                                    <button class="btn sm-secondary" (click)="cargarObjeto(vehiculo.id)" >Modificar</button>
                                </div>
                            </td>
                        </tr>
                      
                    </table>
    </bs-modal-body>
</bs-modal>
