.card-container.card {
    max-width: 350px;
    padding: 20px 40px;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus {
    border: 3px solid #555;
}
.form-control {
    border-radius: 10px;
}
.center-screen {
    background-image: url("/assets/img/autos.jpeg");
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 88px;
    width: 41%;
    border: 3px solid #73AD21;
    padding: 20px;
    display: flex;
    justify-content: center;
  }
  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.login100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 50px;
    background-color:rgba(255,0,0,1);
    border-radius: 25px;
  
    font-family: SourceSansPro-SemiBold;
    font-size: 14px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  
    box-shadow: 0 10px 30px 0px rgba(255,0,0,1);
    -moz-box-shadow: 0 10px 30px 0px rgba(255,0,0,1);
    -webkit-box-shadow: 0 10px 30px 0px rgba(255,0,0,1);
    -o-box-shadow: 0 10px 30px 0px rgba(255,0,0,1);
    -ms-box-shadow: 0 10px 30px 0px rgba(255,0,0,1);
  }
  
  .login100-form-btn:hover {
    background-color: rgba(255,0,0,0.6);
    box-shadow: 0 10px 30px 0pxrgba(255,0,0,0.6);
    -moz-box-shadow: 0 10px 30px 0px rgba(255,0,0,0.6);
    -webkit-box-shadow: 0 10px 30px 0px rgba(255,0,0,0.6);
    -o-box-shadow: 0 10px 30px 0px rgba(255,0,0,0.6);
    -ms-box-shadow: 0 10px 30px 0px rgba(255,0,0,0.6);
  }
  .form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 50px;
    background-color: rgba(0,0,255,1);
    border-radius: 25px;
  
    font-family: SourceSansPro-SemiBold;
    font-size: 14px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  
    box-shadow: 0 10px 30px 0px  rgba(0,0,255,1);
    -moz-box-shadow: 0 10px 30px 0px  rgba(0,0,255,1);
    -webkit-box-shadow: 0 10px 30px 0px   rgba(0,0,255,1);
    -o-box-shadow: 0 10px 30px 0px   rgba(0,0,255,1);
    -ms-box-shadow: 0 10px 30px 0px   rgba(0,0,255,1);
  }
  
  .form-btn:hover {
    background-color:rgba(0,0,255,0.6);
    box-shadow: 0 10px 30px 0px rgba(0,0,255,0.6);
    -moz-box-shadow: 0 10px 30px 0px rgba(0,0,255,0.6);
    -webkit-box-shadow: 0 10px 30px 0px rgba(0,0,255,0.6);
    -o-box-shadow: 0 10px 30px 0px rgba(0,0,255,0.6);
    -ms-box-shadow: 0 10px 30px 0px rgba(0,0,255,0.6);
  }
  #outer{
    width:100%;
    text-align: center;
 }
.inner
{
    display: inline-block;
}
/*SPINNER*/
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
  }
  #loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
  }
  
  #loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
  }
  
  #loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
  }
  
  @-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
  }
  @keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
  }
  /*-------------------------------------------*/
  .LockOn { 
    display: block; 
    visibility: visible; 
    position: absolute; 
    z-index: 999; 
    top: 0px; 
    left: 0px; 
    width: 100%; 
    height: 1000px; 
    background-color: black; 
    text-align: center; 
    padding-top: 20%; 
    filter: alpha(opacity=75); 
    opacity: 0.75; 
  } 
  .parent
        {
            /*display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;*/
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1000;
        }
        .loader {
          border: 16px solid gray; /* Light grey */
          border-top: 16px solid black; /* Blue */
          border-radius: 50%;
          width: 120px;
          height: 120px;
          animation: spin 2s linear infinite;
      }
      
      @keyframes spin {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
      }