<br><br><br>
<div class="center-screen">
   <div class="card card-container">
    <div class="form-group">
        <form *ngIf="!viajeSolicitado"  (ngSubmit)="pedirViaje()" class="form-horizontal" #formViajes="ngForm" ngNativeValidate>
            <input placeholder="Origen" autocorrect="off" autocapitalize="off" spellcheck="off"
            type="text" class="form-control" #pickupInput [formControl]="destinationInput" required>

            <input placeholder="Destino" autocorrect="off" autocapitalize="off" spellcheck="off"
            type="text" class="form-control" #pickupOutput [formControl]="destinationOutput" required>
            <label for="metodoPago">Metodo de Pago:</label>
            <select id="soflow-color" [(ngModel)]="metodoPago" [ngModelOptions]="{standalone: true}" required>
                <option value="-1">Seleccione modo de pago...</option>
                <option value="0">Efectivo</option>
                <option value="1">Débito</option>
                <option value="2">Crédito</option>
            </select>
            <br>
            <label for="fechaViaje">Fecha:</label>
            <input id="fechaViaje" [(ngModel)]="fechaViaje" type="datetime-local" 
            min="startDate" [ngModelOptions]="{standalone: true}" required>
            <br><br>
            <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-warning active">Standard
                <input type="radio" name="nivel" value="0" id="option2" autocomplete="off" chacked>
                <span class="glyphicon glyphicon-ok"></span>
            </label>
            <label class="btn btn-light">Confort
                <input type="radio" name="nivel" value="1" id="option1" autocomplete="off">
                <span class="glyphicon glyphicon-ok"></span>
            </label>
            <label class="btn btn-success">Premium
                <input type="radio" name="nivel" value="2" id="option2" autocomplete="off">
                <span class="glyphicon glyphicon-ok"></span>
            </label>           
            </div>      
            <br><br>  
            <agm-map [latitude]="latitude" [longitude]="longitude" >
                <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
                <agm-map-directions [origin]="origin" [destination]="destination"></agm-map-directions>
            </agm-map>
            <br>
            <button type="submit" style="font-size: 18px" class="btn btn-outline-secondary" name="guardar" value="Solicitar">Enviar</button>
        </form>
    </div>
    <div *ngIf="viajeSolicitado" >
        <p>su solicitud a sido enviada con exito.</p>
    </div>
</div>
</div>